body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #9fadad;
  color: #44403d;
}

#container {
  width: 90%;
  margin: auto;
}

#header {
  font-weight: 700;
  font-style: italic;
  border-bottom: 2px solid #44403d;
  margin: 0;
  padding: 20px 0;
}

#notification {
  padding: 0;
  margin: 0 !important; 
  font-size: 14px;
  color: #23a223;
  font-weight: 700;
  visibility: hidden
}

#form > div {
  margin: 0 0 20px 0;
  width: 500px;
  text-align: center;
}

#form > div > label {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid;
  font-weight: 200;
}

#form > div > input {
  background: none;
  border: none;
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  color: #44403d;
}

::placeholder {
  color: #e7d7c9
}

#form > div > button {
  background: none;
  border: 1px solid #44403d;
  font-size: 20px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

#form > div > button:hover {
  background: #44403d;
  color: #e7d7c9;
  cursor: poin;
}