form > * {
	background: none;
	border: none;
	padding: 5px;
	margin: 10px;
	color: #1b1b1b;
}

input {
	border-bottom: 1px solid;
}

[type="file"] {
	border: none;
}

button {
	background: #ccc;
	border-radius: 5px;
}